<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630071210718-l6850pcmrmqdsp4utf233ff0nblag9kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630071210718-l6850pcmrmqdsp4utf233ff0nblag9kb</string>
	<key>API_KEY</key>
	<string>AIzaSyAcMXoRehdGr_4Q4OMqckKdxPOz3IRXKTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>630071210718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codenamerhu.Hooli-Chat001-RhulaniNdhlovu</string>
	<key>PROJECT_ID</key>
	<string>hooli-chat-ce0bd</string>
	<key>STORAGE_BUCKET</key>
	<string>hooli-chat-ce0bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630071210718:ios:ca3800f241edf0d7b6084f</string>
	<key>DATABASE_URL</key>
	<string>https://hooli-chat-ce0bd.firebaseio.com</string>
</dict>
</plist>